.blue {
	background: rgb(104, 104, 224);
}

.orange {
	background: orange;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.green {
	background: #bbff99;
}
.gray {
	background: gray;
}
.white {
	background: white;
}